@model PayOn.Examples.Models.PaymentViewModel

@{
    ViewData["Title"] = "Payment Reversal";
}
<h1>Payment Reversal</h1>
<p>The reversed payment status below.</p>
<p>Result Status: @Model.Status</p>
